body{
    background-color: lightgrey;
}

html {
    scroll-behavior: smooth;
}

nav{
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Titillium Web', sans-serif;
    color: #146eb4;
    font-weight: bold;
}


p {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: normal;
}

.footerIcon {
    height:50px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.linkText {
    color: purple;
}

.projectCenter {
    padding: 5%;
    margin: 5px;
}

.topBorder {
    border-top: 3px solid #146eb4;
}

.botBorder {
    border-bottom: 3px solid #146eb4;
}

.footer {
    padding: 10px;
    padding-top: 2%;
    padding-bottom: 1%;
    bottom: 0px;
    text-align: center;
    width:100%;
    background:whitesmoke;
}

.footerText {
    font-size: 14px;
    margin: 0px;
    line-height: 1.5em;
}

#scroll {
    border: 2px solid #146eb4;
    border-radius: 5px;
    color:white;
    background:#146eb4;
    width: 20%;
    padding: 1%;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
/* width of scroll button when desktop */
@media screen and (min-width: 800px)  {
    #scroll {
        width: 10%;
    }

    .card{
        margin: auto;
    }
}

.card {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    height:90%;
}

.marginAuto {
    margin: auto;
    padding: 5%;
}


.contactMe {
    margin-top: 2%;
}

#intro {
    margin: auto;
    padding: 2%;
}

#frontProj {
    background: #146eb4;
    padding: 3%;
}